@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.form__item {
    &.form__item_checkbox {
        display: flex;
        gap: 10px;
        align-items: center;

        label {
            gap: 10px;
            display: flex;
            cursor: pointer;
            max-width: max-content;
            align-items: center;
            border-radius: 3px;
            @include mixins.userSelect(none);
        }

        input[type="checkbox"] {
            top: 0px;
            left: 0px;
            position: absolute;
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
            min-height: auto;
            z-index: 1;
            display: none;

            &:checked + .checkbox__custom {
                border: 1px solid variables.$button-fill;
                background: variables.$button-fill;

                &::after {
                    opacity: 1;
                }
            }
        }

        .checkbox__input {
            position: relative;
            min-height: auto;
            width: 15px;
            min-width: 15px;
            aspect-ratio: 1;
            height: auto;
        }

        .checkbox__custom  {
            border: 1px solid variables.$color-border;
            display: flex;
            border-radius: 3px;
            height: 15px;
            width: 15px;
            position: relative;
            overflow: hidden;
            aspect-ratio: 1;
            z-index: 2;

            &::after {
                opacity: 0;
                position: absolute;
                bottom: 2px;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                content: url('/icons/check.svg');
            }
        }

        &.form__item_checkbox_disabled {
            pointer-events: none;

            .checkbox__input {
                opacity: 0.5;
            }

            .checkbox__label {
                color: variables.$color-border;
            }
        }
    } 
}