@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.modal__body {
    @media (max-width: 990px) {
        .detail {
            .arrow-back {
                display: flex !important;
            }
        }
    }
}

.detail {
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    height: 100%;

    .arrow-back {
        order: 1;
        display: none !important;
    }

    .menu__gambuger {
        display: flex;
        align-items: center;
        order: 3;
    }

    & > *:not(.detail__actions) {
        padding: 0px 15px;
    }

    & > *:first-child {
        padding-top: 25px;
    }

    &:has(.column-fields_dragging) {
        @include mixins.userSelect(none);
    }

    .section-table {
        padding: 0px;
        margin: 0px 25px;
        max-height: calc(100% - 40px);
    }
    
    .dynamin__group {
        padding: 0px;
        margin: 0px 25px;
        max-height: calc(100% - 160px);

        .section-table {
            margin: 0px;
            max-height: none;

            .show-more {
                display: none;
            }
        }
    }

    &:has(.detail_loader) {
        .detail-page__header,
        .tabs {
            display: none !important;
        }
    }
}

.detail-page__header {
    max-width: max-content;
    margin-bottom: 25px;
    
    h1 {
        position: relative;

        * {
            font-size: variables.$font-size-h1;
        }

        .ghost_text {
            font-size: variables.$font-size-h1;
        }
    }

    @media (max-width: 990px) {
        align-items: center;
        margin-top: 5px;

        .arrow-back {
            margin-right: -5px;
            width: 15px;
            height: 15px;
            aspect-ratio: 1;
        }
    }
}


.detail-page__actions {
    display: flex;
    gap: 5px;
    order: -1;
    align-items: center;

    .icon-action,
    .show-more {
        .popup__header {
            padding: 0px;
        }

        svg {
            width: 25px;
            height: auto;
            aspect-ratio: 25/19;
        }
    }
}

.detail__actions {
    position: sticky;
    width: calc(100% + 50px);
    bottom: 0px;
    z-index: 10;
    grid-column: 1/3;
    margin-left: -25px;
}
.field__settings.popup_open {
    z-index: 50;
}