@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.blank {
    gap: 5px;
    display: flex;
    flex-direction: column;
    
    &.blank_pre {
        .blank__text {
            white-space: pre;
            @include mixins.textVerticalHidden(20);
        }
    }

    .blank__title {
        display: block;
        font-size: variables.$font-size-label;
    }

    .blank__text,
    .blank__link {
        &.blank__text_empty {
            color: variables.$color-border;

            &.blank__text_default {
                color: variables.$color-border;
            }

            &::after {
                content: 'не заполнено'
            }
        }
    }

    .blank__link {
        color: variables.$color-link;
        max-width: max-content;

        &:not(.blank__text_empty) {
            text-decoration: underline;
        }

        &:hover {
            text-decoration: none;
        }

        &.blank__text_default {
            text-decoration: none;
            color: variables.$color-default;
        }
    }

    .blank__text {
        &:not(.blank__text_empty) {
            color: var(--colorText);
        }
    }

    .blank__unit {
        color: #8f8f8f;
        user-select: none;
        margin-left: 4px;
    }

    &.blank_static {
        .blank__title {
            color: variables.$color-border;
        }
    }
}

.blank_required {
    .blank__title {
        position: relative;
        max-width: max-content;

        &::after {
            content: '*';
            top: -7px;
            right: -9px;
            height: 8px;
            font-size: 24px;
            position: absolute;
            line-height: normal;
            color: variables.$color-red;
        }
    }
}