@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table-container {
    max-width: calc(100vw - 410px);
    overflow: auto;
    @include mixins.scrollBar();

    .table-container__empty {
        display: grid;
        height: 80vh;
        place-items: center;
    }

    @media (max-width: 1250px) {
        max-width: 100vw;
    }
}

.table {
    border-collapse:initial;
    border-spacing: 0px;

    &.table_loading {
        .table__item-text {
            width: 100%;
            min-width: 50px;
            height: 30px;
        }

        @media (max-width: 660px) {
            width: 100%;

            .table__label {
                width: 150px;
                height: 15px;
            }
        }
    }

    @media (max-width: 660px) {
        width: 100%;
    }

    .skeleton {
        &::after {
            background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
            background-size: 200% 100%;
        }        
    }
}

.table__row {
    &:nth-child(even) {
        background: variables.$color-table-row-even;
    }

    @media (max-width: 660px) {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }
}

.table__item {
    padding: 25px 20px;

    .form__item_checkbox {
        cursor: pointer;
        
        * {
            cursor: pointer;
        }
    }

    .fancybox-item__img {
        aspect-ratio: 1/1;
        width: 80px;
    }

    @media (max-width: 660px) {
        padding: 10px 20px;
    }
}

.table__body {
    .table__item {
        vertical-align: top;
        
        .table__item-text {
            @include mixins.textVerticalHidden();
        }

        a {
            &.table__item-text {
                color:variables.$color-link;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .form__item_select {
            label {
                display: none;
            }

            .select__options {
                width: 400px;
                left: auto;
                right: 0px;
            }
        }

        .popup_quantity {
            .popup__header {
                padding: 10px 15px;
                border-radius: 10px;
            }

            .popup__content {
                gap: 15px;
                flex-direction: column;
                
                .form__item_select {
                    & > label {
                        pointer-events: none;
                        display: block;
                    }
                }

                button {
                    justify-content: center;
                }
            }

            &.popup_green {
                .popup__header {
                    border: 1px solid variables.$color-green;
                    color: variables.$color-green;
                }
            }

            &.popup_orange {
                .popup__header {
                    border: 1px solid variables.$color-orange;
                    color: variables.$color-orange;
                }
            }

            &.popup_red {
                .popup__header {
                    border: 1px solid variables.$color-red;
                    color: variables.$color-red;
                }
            }
        }
    }
}

.table__item_actions {
    gap: 15px;
    display: flex;
    align-items: start;
    right: 0px;

    .table__icon {
        position: relative;
        cursor: pointer;
    
        &[data-key="edit"] {
            order: 10;
        }
    
        &[data-key="delete"] {
            order: 11;
        }

        svg {
            width: 25px;
            height: auto;
            aspect-ratio: 1;
        }
    }

    @media (max-width: 660px) {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .popup {
        .popup__content {
            right: 0px;

            label {
                display: block;
            }
        }
    }
}

.table__label {
    display: none;
    margin-bottom: 5px;
    font-size: variables.$font-size-label;

    @media (max-width: 660px) {
        display: block;
    }
}

.table__icon-details {
    &.table__icon-details_disabled {
        filter: opacity(0.5);
        cursor: not-allowed;
        
        .table__icon-summary {
            pointer-events: none;
        }        
    }
}
.table__icon-summary {
    display: flex;
    max-width: 50px;
    cursor: pointer;
}

.table__icon-content {
}

.table__icon-content {
    --local-width: 500px;

    width: var(--local-width);
    margin: 50px 0px 0px calc(var(--local-width) * -1 + 20px);
}

.table__icon-row {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 20px;

    &.table__icon-row_header {
        font-weight: 600;    
    }
}


.table__icon-text {
    cursor: text;
    @include mixins.textHidden();
}