@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    &.table__footer_prevent {
        pointer-events: none;
    }
}

.pagination {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .icon__change-page {
        display: flex;
        cursor: pointer;

        &:first-child {
            transform: rotate(180deg);
        }

        &:hover {
            background: #40404020;
        }
    }
}
.pagination__item {
    aspect-ratio: 1/1;
    width: 40px;
    min-width: 40px;
    display: grid;
    place-items: center;
    color: variables.$color-border;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid variables.$color-border;
    @include mixins.userSelect(none);

    &:hover {
        background: #40404020;
    }

    &.pagination__item_active {
        pointer-events: none;
        color:variables.$color-white;
        background: variables.$color-border;
    }

    &.pagination__item_none {
        border: none;
        cursor: default;

        &:hover {
            background: transparent;
        }
    }
}