@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.mass-actions {
    position: fixed;
    bottom: 0px;
    left: 350px;
    width: calc(100vw - 350px);
    padding: 15px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: variables.$color-white;
    box-shadow: variables.$box-shadow;

    button {
        padding: 10px 30px;
    }

    @media (max-width: 1250px) {
        width: 100vw;
        left: 0px;
    }
}