@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;


.table__header {
    .table__item {
        min-width: var(--thWidth);
        max-width: var(--thWidth);
        width: var(--thWidth);
        text-align: left;
        position: relative;
        @include mixins.userSelect(none);
        @include mixins.textHidden();
    }

    @media (max-width: 660px) {
        display: none;
    }

    .table__item-text {
        display: flex;
        gap: 10px;
        align-items: center;
        
        .icon_sort {
            display: flex;
    
            svg {
                @include mixins.resolution(20px, 20px);
            }
    
            &.icon_sort_asc {
                transform: rotateX(180deg);
            }
        }
    }
}
