@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.form__item {
    &.form__item_select {
        width: 100%;
        @include mixins.blankGap();

        .form__item_input {
            cursor: pointer;
            
            label {
                display: none;
            }

            input {
                cursor: pointer;
            }
        }
    }
}

.select {
    position: relative;

    .icon__arrow {
        position: absolute;
        top: 10px;
        right: 15px;
        display: flex;
        height: 20px;
        aspect-ratio: 1 / 2;
        transform: rotate(0deg);

        svg {
            @include mixins.resolution(100%, 100%);
        }
    }

    .icon__warning {
        position: absolute;
        top: -13px;
        right: -13px;

        svg {
            @include mixins.resolution(15px, 15px);
        }
    }

    &.select_open {
        .select__options {
            display: flex;
        }

        .icon__arrow {
            transform: rotate(180deg);
        }

        .select__value_single {
            opacity: 0.5;
        }
    }

    &.select_icon {
        .form__item_input {
            padding-left: 50px;
        }

        .select__value  {
            top: 5px;
            left: 5px;
        }

        .select__options {
            left: 50px;
        }

        .select__option {
            &.select__option_active {
                &::after {
                    content: none;
                }

                .value__text_subtext {
                    &::after {
                        content: url('/public/Icons/checkOption.svg');
                        position: relative;
                        margin-left: 10px;
                    }
                }
            }
        }

        &.select_disabled {
            .select__content {
                pointer-events: none;
            }

            &.select_empty {
                // opacity: 0;
                // pointer-events: none;
            }

            .select__value-icon {
                gap: 15px;
            }

            .select__value  {
                pointer-events: all;
            }

            .form__item_input {
                opacity: 0;
            }

            .icon__arrow {
                display: none;
            }
        }
    }

    .value__text {
        &.value__text_subtext {
            color: variables.$color-border;
        }

        &.value__text_link {
            cursor: pointer;
            text-decoration: underline;
            color: variables.$color-link;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.select__content {
    position: relative;
}

.select__values {
    top: 0px;
    left: 5px;
    width: 100%;
    height: 100%;
    gap: 5px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    max-width: calc(100% - 50px);
    position: absolute;
    align-items: center;
    @include mixins.userSelect(none);

    .select__value {
        gap: 5px;
        top: 0px;
        left: 0px;
        display: flex;
        font-size: 16px;
        position: relative;
        align-items: center;
        border: 1px solid variables.$color-border;
        padding: 4px 10px;
        border-radius: 5px;
        cursor: pointer;
        white-space: nowrap;

        .icon__close {
            display: flex;
            aspect-ratio: 1 / 1;
            width: 12px;
            pointer-events: none;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}


.select__value {
    position: absolute;
    top: 8px;
    left: 15px;

    &.select__value_single {
        pointer-events: none;
        overflow: hidden;
        max-width: calc(100% - 50px);
        white-space: nowrap;

        &.select__value_typing {
            opacity: 0;
        }
    }

    &.select__value_typing {
        opacity: 0;
    }
}


.select__options {
    bottom: auto;
    z-index: 1000;
    display: none;
    margin-top: 5px;
    position: absolute;
    flex-direction: column;
    width: 100%;
    max-height: 300px;
    min-width: 200px; 
    background: variables.$color-white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    overflow: auto;
    @include mixins.scrollBar();
}

.select__option {
    display: flex;
    cursor: pointer;
    padding: 10px 15px;
    justify-content: space-between;

    &:hover {
        color:variables.$color-black;
        background: variables.$color-hover-option;
    }

    &.select__option_active {
        color: variables.$color-border;
        position: relative;

        &::after {
            content: url('/public/Icons/checkOption.svg');
            position: absolute;
            right: 10px;
        }
    }

    .value__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.value__text_subtext {
            overflow: visible;
        }
    }
}

.select__value-icon {
    gap: 30px;
    display: flex;
    align-items: center;

    img,
    svg,
    .img-text {
        height: auto;
        width: 30px;
        min-width: 30px;
        aspect-ratio: 1;
        border-radius: 50%;
        cursor: pointer;
    }


    .img-text {
        font-family: VAG;
        display: grid;
        place-items: center;
        text-transform: uppercase;
        background: var(--bgColor);
        color: variables.$color-white;
    }
}