@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.error {
    input, textarea {
        border: 1px solid variables.$color-error;
    }
    
    .select {
        &.select_icon {
            .relation__arrow {
                border-bottom: 1px solid variables.$color-error;
                right: -9px;
                border-radius: 0px 0px 4px 4px;
            }
        }
    }
}

.error__text {
    font-size: 12px;
    margin-top: 5px;
    color: variables.$color-error;
}