@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

button {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: variables.$font-size-default;
    @include mixins.hoverElem();

    &[disabled] {
        cursor: not-allowed;
        filter: opacity(0.7);
    }

    &.button_fill {
        transition: 0.2s all;
        color: variables.$color-white;
        background: variables.$button-fill;

        &:hover {
            filter: brightness(0.9);
        }

        &.button_warning {
            background: variables.$color-orange;
        }

        &.button_delete {
            background: variables.$color-red;

            &.skeleton {
                &::after {
                    background: linear-gradient(90deg, variables.$color-red 25%, #f0f0f0 50%, variables.$color-red 75%);
                    background-size: 200% 100%;
                }
            }
        }

        &.skeleton {
            &::after {
                background: linear-gradient(90deg, variables.$button-fill 25%, #f0f0f0 50%, variables.$button-fill 75%);
                background-size: 200% 100%;
            }
        }
    }

    &.button_icon {
        gap: 10px;
        display: flex;
        align-items: center;
        font-size: 18px;
        padding: 15px 20px;

        svg {
            @include mixins.resolution(18px, 18px);
        }
    }

    &.skeleton {
        position: relative;
        overflow: hidden;
        pointer-events: none;
    }

    &.button_text {
        padding: 0px;
        background: none;
        cursor: pointer;
        text-decoration: underline;
        max-width: max-content;
        color: variables.$color-link;

        &:hover {
            text-decoration: none;
        }
    }
}