@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.tile-section {
    max-width: 100%;
    border-radius: 10px;
    background: variables.$color-white;
    border: 1px solid variables.$color-border-light;
    box-shadow: 0 5px 20px variables.$color-border-light;

    .icon_drag {
        cursor: grab;
        left: 2px;
        position: absolute;
    }

    &.tile-section_short {
        &:not(.tile-section_editting) {
            .tile-section__body,
            .tile-section__body .tile-section__body {
                gap: 0px;
                flex-wrap: wrap;
                flex-direction: row;
                
                .field {
                    padding: 0px;
                    min-height: auto;
    
                    .icon_drag,
                    .field__settings,
                    .blank__title,
                    .form__item-title {
                        display: none;
                    }
    
                    &.field_empty {
                        display: none;
                    }
    
                    .file__values {
                        .fancybox-item__img {
                            width: 25px;
                        }
                    }
                }
    
                .select {
                    &.select_icon {
                        background: none;
                        border: none;
                        padding: 0px;
    
                        img, 
                        svg, 
                        .img-text {
                            width: 15px;
                            height: 15px;
                            min-height: 15px;
                            min-width: 15px;
                        }
    
                        .img-text {
                            font-size: 10px;
                        }
                    }
    
                    .form__item_input {
                        display: none;
                    }
    
                    .select__value {
                        top: 0px;
                        left: 0px;
                        position: relative;
                        max-width: none;
    
                        .select__value-icon {
                            gap: 5px;
                        }
                    }
                }
    
                .form__item_map {
                    .button_copy,
                    .map__frame {
                        display: none;
                    }
                }
            }
    
            .tile-section__body {
                padding: 15px;
    
                & > *:not(:last-child) {
                    display: inline-flex;
    
                    &::after {
                        content: '•';
                        color: #8f8f8f;
                        margin: 0px 5px;
                    }
    
                    &:has(.tile-section) {
                        &::after {
                            content: none;
                        }
    
                        .tile-section__body {
                            & > *:last-child {
                                display: inline-flex;
    
                                &::after {
                                    content: '•';
                                    color: #8f8f8f;
                                    margin: 0px 5px;
                                }
                            }
                        }
                    }
                }
    
                .tile-section__header {
                    display: none;
                }
    
                .tile-section__body {
                    background: none;
                    border: none;
                    padding: 0px;
                }
            }
        }
    }
    
    .button_text {
        color: variables.$color-icon;
        text-decoration: none;

        &:hover {
            color: variables.$color-icon-active;
        }
    }

    .select {
        &.select_icon {
            background-color: #fbfcfd;
            border: 1px solid #eeeff1;
            border-radius: 10px;
            padding: 15px;
            width: 100%;
    
            &.select_disabled {
                &.select_empty {
                    opacity: 1;

                    figcaption {
                        color: variables.$color-border;    
                    }
                }
            }
        }
    }

    &.tile-section_drag {
        .tile-section__body,
        .tile-section__footer {
            display: none !important;
        }
    }

    &.draggable-ghost {
        .tile-section__body,
        .tile-section__footer {
            display: none !important;
        }
    }

    &.tile-section_field {
        background: none;
        box-shadow: none;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 5px;


        .tile-section__header {
            padding: 0px;
            min-height: auto;
            border: none;
        }

        .tile-section__body {
            background: #fbfcfd;
            border: 1px solid #eeeff1;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 15px 0px;
        }
    }
}

.tile-section__header {
    gap: 15px;
    display: flex;
    min-height: 40px;
    align-items: start;
    position: relative;
    padding: 10px 15px 4px;
    justify-content: space-between;
    border-bottom: 1px solid variables.$color-border-light;

    .icon_edit,
    .icon_drag  {
        opacity: 0;
        transition: 0.1s all;
    }

    &:hover {
        .icon_edit,
        .icon_drag {
            opacity: 1;
        }
    }

    .blank__title {
        display: block;
        font-size: 12px;
    }
}

.tile-section__title {
    display: flex;
    gap: 5px;
    max-width: max-content;

    h3 {
        position: relative;
        font-size: 15px;

        * {
            font-weight: 600;
        }
    }
}

.tile-section__body {
    gap: 15px;
    display: flex;
    padding: 10px 0;
    flex-direction: column;

    .select {
        &.select_icon {
            .select__options {
                left: 65px; 
                width: calc(100% - 80px);
            }
        }
    }
}

.tile-section__actions {
    gap: 10px;
    display: flex;
    margin-top: 2px;
    align-items: center;

    .button_text {
        font-size: 12px;
    }
}

.tile-section__footer {
    gap: 10px;
    display: flex;
    align-items: center;
    padding: 10px 15px 15px;
    justify-content: flex-start;


    .popup__content {
        overflow-x: hidden;
    }
}

.section__field-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    padding: 0 15px;
    min-height: 40px;
    position: relative;

    &.field_hidden {
        display: none;
    }

    &.field_static {
        .blank__title {
            color: variables.$color-border;
        }
    }

    .field__settings {
        position: absolute;
        top: 0px;
        right: 15px;
    }

    .icon_drag,
    .field__settings {
        opacity: 0;
        transition: 0.1s all;

        &.popup_open {
            opacity: 1;
        }
    }

    &:hover {
        & > .icon_drag,
        & > .field__settings {
            opacity: 1;
        }
    }

    .field__settings {
        .icon_settings {
            svg {
                aspect-ratio: 1;
                height: auto;
                width: 13px;
            }
        }
    }

    .blank {
        .blank__text {
            max-width: max-content;
        }
    }

    .blank__title {
        max-width: max-content;
    }

    &.draggable-ghost {
        min-height: 40px;
        padding-bottom: 0px;

        .file__name {
            font-size: variables.$font-size-default;
        }
    }

    &.draggable-drag {
        opacity: 0.95;
        cursor: grabbing;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
        background: variables.$color-white;
        border: 1px solid variables.$color-border-light;
        border-radius: 10px;
        min-height: max-content;
        padding-bottom: 10px;

        .field__settings {
            opacity: 0;
        }

        .icon_drag {
            opacity: 1;
            position: absolute;
            top: 4px;
            left: 3px;
        }

        .blank__title {
            margin-top: 5px;
        }
    }
}