@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.form__item {
    &.form__item_status {
        width: 100%;
        @include mixins.blankGap();
    }

    &.form__item_status_disabled {
        pointer-events: none;

        .form__item-title {
          color: #bcbcbc;
        }

        .status__rect-container {
          border-radius: 5px;

          &::before {
            border-radius: 5px;
          }
        }

        .status__arrow {
          display: none;
        }
    }
}

.status {
    position: relative;

    .icon__warning {
        position: absolute;
        top: -13px;
        right: -13px;

        svg {
            @include mixins.resolution(15px, 15px);
        }
    }

    &.status_open {
        .status__options {
            display: flex;
        }

        .status__arrow {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.status__content {
    position: relative;
}

.status__value {
    gap: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;

    .status__value-text {
        white-space: nowrap;
    }

    .status__rect-container {
        height: auto;
        width: 25px;
        aspect-ratio: 1;
        border-radius: 5px 0px 0px 5px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 25px;
            display: block;
            aspect-ratio: 1;
            border-radius: 5px 0px 0px 5px;
            background: var(--bgColor);
        }
    }

    .status__rect {
        display: flex;

        img {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.status__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    border-radius: 0px 5px 5px 0px;
    background: variables.$color-white;
    border: 1px solid #bcbcbc;
}


.status__options {
    bottom: auto;
    z-index: 1000;
    display: none;
    margin-top: 5px;
    position: absolute;
    flex-direction: column;

    &.status__options_flex {
        display: flex;
    }
    width: 100%;
    max-height: 300px;
    min-width: 200px; 
    border-radius: 5px;
    background: variables.$color-white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    overflow: auto;
    @include mixins.scrollBar();
    max-width: 200px;

    &.popup__content_top {
        bottom: calc(100% + 5px);
    }

    .status__option {
        gap: 10px;
        justify-content: start;

        .status__rect-container {
            border-radius: 5px;

            &:not(img)::before {
                border-radius: 5px;
            }
        }
    }


    .settings__item {
        justify-content: space-between;
    }

    &.colorpicker {
        max-height: none;

        .colorpicker__preview {
            min-height: 50px;
        }

        .colorpicker__content {
            padding: 5px;
            display: flex;
            flex-direction: column;

            .button_fill {
                margin-top: 10px;
            }
        }

        
        .settings__item_back {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            font-weight: 600;
            position: sticky;
            top: 0px;
            z-index: 10;
            background: variables.$color-white;

            .icon__arrow {
                transform: rotate(180deg);
            }
        }
    }
}

.status__option {
    display: flex;
    cursor: pointer;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;

    &:hover {
        color:variables.$color-black;
        background: variables.$color-hover-option;
    }

    &.status__option_active {
        color: variables.$color-border;
        position: relative;

        &::after {
            content: url('/public/icons/checkOption.svg');
            position: absolute;
            right: 10px;
        }
    }

    .value__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}