@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.form__item {
    &.form__item_status {
        width: 100%;
        @include mixins.blankGap();
    }

    &.form__item_status_disabled {
        pointer-events: none;
  
        .status__value-rect {
          border-radius: 5px;
    
          &::before {
            border-radius: 5px;
          }
        }
  
        .status__arrow {
          display: none;
        }
    }
}

.status {
    position: relative;

    .icon__arrow {
        position: absolute;
        top: 10px;
        right: 15px;
        display: flex;
        height: 20px;
        aspect-ratio: 1 / 2;
        transform: rotate(0deg);

        svg {
            @include mixins.resolution(100%, 100%);
        }
    }

    .icon__warning {
        position: absolute;
        top: -13px;
        right: -13px;

        svg {
            @include mixins.resolution(15px, 15px);
        }
    }

    &.status_open {
        .status__options {
            display: flex;
        }

        .status__arrow {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.status__content {
    position: relative;
}

.status__value {
    gap: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;

    .status__value-text {
        white-space: nowrap;
    }

    .status__value-rect {
        height: 100%;
        width: 25px;
        aspect-ratio: 1;
        border-radius: 5px 0px 0px 5px;

        &:not(img) {
            &::before {
                content: '';
                width: 25px;
                display: block;
                aspect-ratio: 1;
                border-radius: 5px 0px 0px 5px;
                background: var(--bgColor);
            }
        }
    }

    .status__rect {
        display: flex;
    }
}

.status__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    border-radius: 0px 5px 5px 0px;
    background: variables.$color-white;
    border: 1px solid #bcbcbc;
}


.status__options {
    bottom: auto;
    z-index: 1000;
    display: none;
    margin-top: 5px;
    position: absolute;
    flex-direction: column;
    width: 100%;
    max-height: 300px;
    min-width: 200px; 
    border-radius: 5px;
    background: variables.$color-white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    overflow: auto;
    @include mixins.scrollBar();
    max-width: 200px;

    &.popup__content_top {
        bottom: calc(100% + 5px);
    }

    .status__option {
        gap: 10px;
        justify-content: start;

        .status__value-rect {
            border-radius: 5px;

            &:not(img)::before {
                border-radius: 5px;
            }
        }
    }
}

.status__option {
    display: flex;
    cursor: pointer;
    padding: 10px 15px;
    justify-content: space-between;

    &:hover {
        color:variables.$color-black;
        background: variables.$color-hover-option;
    }

    &.status__option_active {
        color: variables.$color-border;
        position: relative;

        &::after {
            content: url('/public/icons/checkOption.svg');
            position: absolute;
            right: 10px;
        }
    }

    .value__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}