@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

/*Обнуление*/
*,
b::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: variables.$color-link;

    &:hover {
        color:variables.$color-hover;
    }
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-family: PT Sans;
}

html,
body {
    line-height: normal;
    font-size: variables.$font-size-default;
    color: variables.$color-black;
    font-family: PT Sans;
    overflow-x: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
    scroll-padding-top: var(--headerHeight);

    &.body_uncscroll {
        overflow: hidden;
        max-height: 100vh;
    }
}

html {
    body {
        background-color: variables.$color-background;
        @include mixins.scrollBar();

        &.body_resize {
            cursor: col-resize;
            user-select: none;
        }
    }
}

#app {
    min-height: 95vh;
}

#__nuxt,
.wrapper {
    min-height: 100vh;
}


/* ------------------------------------------------------------------------------------ */

/*Класс для того, чтобы не было скролла по иксу */
.wrapper {
    height: 100%;
}

.page {
    display: grid;
    grid-template-columns: 230px 1fr;
    overflow: auto;
    max-height: 100vh;
    overflow-x: hidden;
    @include mixins.scrollBar();

    main:not(:has(.detail)) {
        padding: 25px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        height: 100vh;
        grid-template-rows: 1fr;

        main {
            padding: 15px 10px;
        }
    }
}

.page__header {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    margin-bottom: 25px;

    &.page__header_table {
        h1 {
            width: 100%;
            max-width: 250px;
        }
    }
}

.page .page_categories {
    gap: 0px 20px;
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: auto 1fr;

    .page__header {
        grid-column: 1/3;
    }

    @media (max-width: 1200px) {
        gap: 25px;
        grid-template-columns: 1fr;

        .page__header {
            grid-column: 1/2;
        }
    }
}

.page__section {
    .tile-section__header {
        * {
            pointer-events: none !important;
        }

        .icon_drag,
        .icon_edit,
        .tile-section__actions {
            display: none;
        }
    }
}

.container {
    /*Пишется max-width*/
    max-width: variables.$container-width;
    margin: 0 auto;
    /*Избегание прилипания к краю*/
    padding: 20px;
    box-sizing: content-box;
}

/*фоновое изображение*/
.ibg {
    position: relative;
}

.ibg img,
.ibg svg {
    position: absolute;
    top: 0;
    left: 0;
    @include mixins.resolution(100%, 100%);
    object-fit: cover;
}

main {
    height: 100%;
    position: relative;
}

details {
    summary::marker {
        display:none;
        font-size: 0;
    }
}

input, textarea {
    resize: none;
    outline: none;
    min-height: 40px;
    box-shadow: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: inherit;
    caret-color: variables.$color-black;
    font-size: variables.$font-size-default;
    background-color: variables.$color-white;
    border: 1px solid variables.$color-border;
    @include mixins.resolution(100%, 40px);

    &:focus {
        border: 1px solid variables.$color-hover;
    }

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[disabled] {
        opacity: 0.6;
    }
}

.skeleton {
    position: relative;

    &::after {
        content: '';
        background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
        background-size: 200% 100%;
        animation: loading 1.5s infinite linear;
        border-radius: 4px;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        aspect-ratio: 1/1;
    }
}

.text {
    &.text_empty {
        &::after {
            color: variables.$color-border;
            content: "не заполнено";
        }
    }
}

/* Анимация */
@keyframes loading {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

.Toastify {
    .Toastify__toast-container {
        z-index: 100000;
    }

    .Toastify__toast-body {
        align-items: start;
        overflow: hidden;

        & > div {
            & > div {
                display: flex;
                flex-direction: column;
                gap: 10px;
        
                h4 {
                    font-size: 14px;
                }
            }
        }
    }

    .Toastify__toast-description {
        font-size: 17px;
    }

    .Toastify__toast-theme--light {
        background-color: rgba(27, 39, 52, 75%);
        border-radius: 10px;
        
        &:hover {
            background-color: rgba(27, 39, 52, 75%) !important;
        }
        
        * {
            color:variables.$color-white;
        }

        @for $i from 1 through 15 {
            &:nth-child(#{$i}) {
                background-color: rgba(27, 39, 52, 80% - $i * 5%);
            }
        }
    }
    .Toastify__close-button {
        opacity: 1;

        svg {
            fill: #FFF;

            * {
                color: #FFF;
            }
        }
    }
}

.modal {
    padding: 20px;
}

.modal__background {
    background: #000c;
    height: 100%;
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

section {
    background: variables.$color-white;
    border: 1px solid variables.$color-border-light;
    border-radius: 10px;
    box-shadow: 0 5px 20px variables.$color-border-light;
    max-width: 100%;
}

.popup {
    &.popup_open {
        .icon-action {
            svg {
                * {
                    fill: variables.$color-icon-active;
                }
            }
        }
    }
}

.icon-action {
    display: flex;
    cursor: pointer;

    &:hover {
        svg {
            * {
                fill: variables.$color-icon-active;
            }
        }
    }
}


.draggable-ghost {
    background: #fbfcfd;
    outline: 2px dashed #a6b7d4;
    border-radius: 5px;
    font-size: 0px;

    * {
        opacity: 0;
    }
}


.menu__overlay {
    position: relative;
    z-index: 1000;
}



.detail__overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 900;
    pointer-events: none;

    & > * {
        pointer-events: all;
    }
}


.tariffs__group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .section-table {
        margin-bottom: 0px;

        @media (max-width: 660px) {
            min-height: 1200px;
        }
    }   

    .loader {
        width: 75vw;
    }

    .blank {
        &.blank_column {
            grid-row: 2;
        }
    }

    .tile-section__table {
        grid-row: 3;
        grid-column: 1/3;
        min-height: 800px;
    }
}

.tariffs__group-header {
    display: flex;
    justify-content: end;
}

.tariffs__group-field {
    padding: 15px;
    border-radius: 5px;
    background: #fbfcfd;
    border: 1px solid #eeeff1;
    gap: 15px 25px;
    display: flex;
    flex-direction: column;
    max-width: 50vw;

    &.tariffs__group-field_column {
        display: grid;
        align-items: end;
        grid-template-columns: repeat(2, 1fr) auto;

        @media (max-width: 600px) {
            grid-template-columns: 1fr; 
        }
    }


    @media (max-width: 1200px) {
        max-width: none;
    }
}

.tariffs__group {
    .tile-section__header {
        font-weight: 600;
    }

    .tile-section__body {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        padding: 15px;

        @media (max-width: 1440px) {
            grid-template-columns: 1fr;
        }
    }
}

.logistic-header__group {
    .select.select_icon  {
        .select__value {
            display: flex;
            height: 30px;
            align-items: center;
        }
    
        .form__item_input {
          padding-left: 0px;
        }

        figcaption {

          padding-left: 10px;
        }
        
        .select__value-icon {
            img,
            svg,
            .img-text {
              display: none;
            }
        }

        .relation__arrow {
            display: none;
        }

        .icon__arrow {
            right: 15px;
        }
    }
}