@use '@/assets/variables.scss' as variables;

// Размер элемента
@mixin resolution($width, $height) {
    width: $width;
    height: $height;
}

// Положение элемента
@mixin position($top: 0px, $left: 0px) {
    top: $top;
    left: $left;
}

// Скроллбар
@mixin scrollBar() {
    /* scrollbar для Chrome/Edge/Safari */
    &::-webkit-scrollbar {
        border-radius: 5px;
        @include resolution(8px, 8px);
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: variables.$color-scroll;
        border: 2px solid transparent;
        background-clip: padding-box;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        border-width: 0;
    }
}


// Скрытие текста тремя точками
@mixin textHidden() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// Скрытие текста, длиннее 2 строк
@mixin textVerticalHidden($stroke: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $stroke;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

// Выделение текста пользователем
@mixin userSelect($value: text) {
    -webkit-user-select: $value;
    -moz-user-select: $value;
    user-select: $value;
    -webkit-tap-highlight-color: transparent;
}

// Наведение на блок
@mixin hoverElem() {
    transition: 0.2s all;

    &:hover {
        cursor: pointer;
        filter: brightness(0.95);
    }
}

// Отступ блоков инпутов и бланка
@mixin blankGap() {
    gap: 5px;
    display: flex;
    flex-direction: column;
    
    label,
    .form__item-title {
        display: block;
        font-size: variables.$font-size-label;
    }
}