// Цвета

// Шрифты

$font-size-default: 15px;
$font-size-default-laptop: 15px;
$font-size-default-phone: 14px;

$font-size-label: 12px;

$font-size-h1: 30px;
$font-size-h1-laptop: 28px;
$font-size-h1-phone: 25px;

$font-size-h2: 24px;
$font-size-h2-laptop: 22px;
$font-size-h2-phone: 20px;

$font-size-h3: 18px;
$font-size-h3-laptop: 18px;
$font-size-h3-phone: 17px;

// Тени
$box-shadow: 0 5px 20px #00000012;

// Контейнер
$container-width: 1620px;

// Цвета
$color-border: #bcbcbc;
$color-border-light: #eeeff1;
$color-hover: #0584fe;

$color-icon: #A6B7D4;
$color-icon-active: #1253a2;

$color-focus: #2A2A2A;
$color-link: #1253a2;

$color-red: #AD0B0A;
$color-white: #fff;
$color-black: #000;
$color-green: #0b9a1e;
$color-orange: #fd8301;
$color-default: #000;

$color-background: #fbfcfd;

$color-scroll: #7D7D7D;

$color-error: #ad0b0a;

$button-fill: #0584fe;
$color-hover-option: #eef3f8;

$color-table-row: #FEFEFE;
$color-table-row-even: #f7fbff;
$color-table-row-updated: #fffbe2;