@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.show-more {
    display: flex;
    align-items: center;
    
    .popup__header {
        padding: 0px 10px;

        &:hover {
            .icon-action {
                svg {
                    * {
                        fill: variables.$color-icon-active;
                    }
                }
            }
        }
    }

    .popup__content {
        top: 15px;

        &.popup__content_top {
            top: auto;
            bottom: 15px;
        }
    }
}