@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__header {
  z-index: 55;
  position: sticky;
  top: 0px;

  .table__row {
    position: relative;
  }

  .table__cell {
    position: relative;
    z-index: 2;
    background: variables.$color-white;
    border-bottom: 1px solid variables.$color-border-light;
    @include mixins.userSelect(none);

    span {
      @include mixins.textVerticalHidden(2);
    }

    &.table__cell_resize {
      .table__cell-border {
        height: 100vh;
        border-right: 1px solid variables.$color-border;
      }
    }

    &.table__cell_sort {
      padding-right: 32px;
    }

    &.table__cell_hide-text {
      .text,
      .checkbox__label {
        opacity: 0;
      }
    }

    &.table__cell_fixed {
      position: sticky;
      z-index: 3;
    }

    &.table__cell_stuck {
      margin-right: -1px;
      z-index: 5;

      .table__cell-border {
        pointer-events: none;
      }

      .icon_sort {
        background: #f9f9fa;
      }
    }

    &.table__cell_dragging {
      left: 0px;
      
      &::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(100% - 5px);
        height: calc(var(--table-height) - 20px);
        background: #fbfcfd;
        outline: 2px dashed #a6b7d4;
        border-radius: 5px;
        font-size: 0px;
    
        * {
            opacity: 0;
        }
      }
    }

    .form__item_checkbox {
      overflow: hidden;

      .checkbox__input {
        min-width: 15px;
      }
    }
  }
}

.table__cell-border {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  cursor: col-resize;
  z-index: 5;
  border-right: 1px solid variables.$color-border-light;
  right: 0px;

  &:hover {
    height: 100vh;
    border-right: 1px solid variables.$color-border;
  }
}

.drag-ghost {
  display: flex;
  flex-direction: column;
  opacity: 0.85;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

.placeholder {
  background: rgba(0, 0, 0, 0.05);
  border: 1px dashed #aaa;
  height: 100%;
}