@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__header {
  z-index: 10;
  position: sticky;
  top: 0px;
  width: max-content;
  border-bottom: 1px solid variables.$color-border-light;

  .table__row {
    width: max-content;
    position: relative;
  }

  .table__cell {
    position: relative;
    z-index: 2;
    background: variables.$color-white;

    span {
      @include mixins.textVerticalHidden(2);
    }

    &.table__cell_resize {
      .table__cell-border {
          height: 100vh;
          border-right: 1px solid variables.$color-border;
        }
    }

    &.table__cell_sort {
      padding-right: 32px;
    }

    &.table__cell_hide-text {
      .text,
      .checkbox__label {
        opacity: 0;
      }
    }
  }
}

.table__cell-border {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  cursor: col-resize;
  z-index: 5;
  border-right: 1px solid variables.$color-border-light;
  right: 0px;

  &:hover {
    height: 100vh;
    border-right: 1px solid variables.$color-border;
  }
}