@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.section-table {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 40px;
}

.table {
  width: 100%;
  height: calc(100% - 37px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: calc(100vw - 285px);
  contain: layout paint;
  will-change: scroll-position;

  &.table_resize,
  &.table_dragging {
    overflow-y: hidden;

    .table__cell {
      &.table__cell_fixed:not(.table__cell_stuck) {
        left: auto;
      }
    }
  }

  &#table_transfer {
    width: 100%;
    position: absolute;
    top: -10000px;
    left: -10000px;
    background: variables.$color-white;
    overflow: hidden;

    .table__row {
      position: relative;
    }
  }

  &:not(.table_permanent-edit) {
    .table__body {
      &.table__body_choose {
        .table__row:not(.table__row_choose) {
          filter: opacity(0.2);
        }
      }
    }
  }

  .loader {
    z-index: 30;
  }
}


.table__cell {
  flex: 0 0 var(--cell-size);
  max-width: var(--cell-size);
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 10px;

  &.table__cell_fixed {
    position: sticky;
    z-index: 10;
    left: var(--cell-left);

    &.table__cell_stuck {
      z-index: 40;
      background: #f9f9fa;  

      &.table__cell_active {
        z-index: 41;
      }
    }
  }

  &.table__cell_hide {
    display: none;
  }

  &.table__cell_active {
    z-index: 30;
  }

  &.table__cell_loading {
    opacity: 0.5;
  }

  .table__label {
    display: none;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .table__cell-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .table__text {
    &:not(a) {
      color: var(--color-text);
    }
  }

  .table__text-group {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }

  .table__file {
    width: 100%;
    height: calc(100% - 20px);
    position: absolute;
    display: flex;
    top: 10px;
    left: 10px;
    max-height: 76px;

    .fancybox__item {
      &:first-child {
        display: flex;
        gap: 5px;
        align-items: center;

        .fancybox-item__img {
          position: relative;
          height: 100%;
          width: auto;
          min-height: 20px;
          aspect-ratio: 1;
          max-height: 76px;
          
          img {
            border-radius: 5px;
          }
        }

        .fancybox-item__link {
          height: 100%;
        }

        &:not(:last-child) {
          &::after {
            content: var(--count-files);
            background-color: variables.$color-icon;
            border-radius: 50%;
            color: variables.$color-white;
            display: grid;
            font-size: 12px;
            height: 21px;
            min-width: 21px;
            opacity: .6;
            padding: 3px;
            place-items: center;
            width: 21px;
          }
        }
      }

      &:not(:first-child) {
        display: none;
      }
    }
  }
}

.table__row {
  position: absolute;
  background: var(--color-row);
  top: var(--row-start);
  left: 0;
  display: flex;
  will-change: transform;

  &.table__row_edit {
    .form__item_status {
      pointer-events: visible;

      .status__content {
        overflow: hidden;
      }
    }
  }

  &.table__row_active {
    z-index: 10;
  }

  &.table__row_hidden {
    display: none;
  }

  &:has(.select_open),
  &:has(.popup_open) {
    z-index: 100;
  }
}

.table__body {
  width: 100%;
  position: relative;

  &.table__body_edit {
    .table__row:not(.table__row_choose) {
      .table__cell {
        &[data-column-key="clicked"],
        &[data-column-key="isChoose"],
        &[data-column-key="actions"] {
          pointer-events: none;
        }
      }
    }
  }

  &.table__body_dragging {
    @include mixins.userSelect(none);
  }

  .table__row {
    &:nth-child(-n+12) {
      .popup {
        &.popup_open {
          &.show-more {
            .popup__content {
              top: 15px;
              bottom: auto;
            }
          }

          .popup__content {
            bottom: auto;
          }
        }
      }

    }
  }

  .table__cell {
    align-items: start;
    background: var(--color-row);

    &[data-column-key="clicked"],
    &[data-column-key="isChoose"] {
      padding: 0px;
    }

    &[data-column-key="clicked"] {
      pointer-events: none;

      .form__item_checkbox {
        .checkbox__custom {
          width: 17px;
          height: 17px;
          border-radius: 50%;

          &::after {
            left: 0px;
          }
        }
      }
    }

    &[data-column-key="product_id"] {
      .select__value {
        display: flex;
        height: 30px;
        align-items: center;
      }

      .select.select_icon {
        .form__item_input {
          padding-left: 0px;
        }

        figcaption {

          padding-left: 10px;
        }

        img,
        .img-text {
          display: none;
        }
      }
    }
  
    .form__item_checkbox {
      width: 100%;
      height: 100%;
  
      label {
        width: 100%;
        max-width: none;
        height: 100%;
        padding: 10px 0 10px 10px;
        align-items: start;
      }

      @media (max-width: 990px) {
        label {
          padding: 0px;
        }
      }
    }

    .form__item_input {
      width: 100%;
    }

    .select {
      &.select_icon {
        .select__value {
          max-width: calc(100% - 5px);
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .table {
    max-width: calc(100vw - 45px);

    .table__header {
      display: none;
    }

    .table__row {
      gap: 15px;
      width: 100%;
      padding: 15px;
      flex-direction: column;
      border-bottom: 1px solid #eeeff1;
    }

    .table__cell {
      flex: auto;
      align-items: start;
      flex-direction: column;
      max-width: none;
      min-height: auto;
      width: 100%;
      padding: 0px;
    }

    .table__label {
      display: block;
    }
  }
}

.table__icon-drag,
.table__icon-delete {
  padding: 0px 5px;
}

.table__icon-delete {
  cursor: pointer;
  position: relative;

  svg {
    aspect-ratio: 1;
    width: 12px;
  }
}