@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.section-table {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.table {
  width: 100%;
  height: calc(100% - 37px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: calc(100vw - 290px);
}

.table__header {
  z-index: 10;
  position: sticky;
  top: 0px;
  
  .table__row {
    position: relative;
  }

  .table__cell {
    z-index: 2;
    background: variables.$color-background;
  }
}

.table__cell {
  flex: 0 0 var(--cell-size);
  max-width: var(--cell-size);
  display: flex;
  align-items: center;
  min-height: 50px;
  justify-content: center;
}

.table__row {
  position: absolute;
  background: var(--color-row);
  top: var(--row-start);
  left: 0;
  display: flex;
}

.table__body {
  width: 100%;
  position: relative;
}