@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.modal {
    &.modal_large {
        padding: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        background: transparent;
        z-index: var(--zIndex);
        
        & > .modal__content {
            padding: 0px;
            position: relative;
            width: calc(100% - 230px - 50px*var(--zIndex));
            z-index: 2;
            background: variables.$color-background;
            animation: showModal 0.25s ease-out forwards;

            & > .modal__close {
                position: absolute;
                top: calc(25px + 50px*var(--zIndex));
                gap: 10px;
                display: flex;
                align-items: center;
                font-size: 15px;
                color: variables.$color-white;
                height: 40px;
                padding: 5px 10px 5px 15px;
                border-radius: 10px 0px 0px 10px;
                background: var(--closeColor);
                left: -150px;
                width: 150px;
                z-index: 100;
    
                .icon__close {
                    position: relative;
                    width: 10px;
                    aspect-ratio: 1;
    
                    svg {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        object-fit: contain;

                        * {

                            stroke: variables.$color-white
                        }
                    }
                }

                @media (max-width: 880px) {
                    display: none;
                }
            }

            .modal__body {
                height: 100%;
                padding: 0px;
                overflow: auto;
                max-height: 100vh;
                position: relative;
                @include mixins.scrollBar();
            }
        }

        .modal__background {
            background: #0003;
        }

        @keyframes showModal {
            0% {
                margin-right: calc(-80vw - 160px);
            }
            100% {
                margin-right: 0px;
            }
        }
    }
}
