@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.modal {
    &.modal_large {
        display: flex;
        justify-content: end;

        & > .modal__content {
            padding: 0px;
            width: 80vw;
            margin-right: calc(-80vw - 160px);
            animation: showModal 0.25s ease-out forwards;

            & > .modal__close {
                position: absolute;
                top: 50px;
                left: -155px;
                gap: 10px;
                display: flex;
                align-items: center;
                font-size: 20px;
                color: variables.$color-black;
                padding: 15px 20px;
                border-radius: 10px 0px 0px 10px;
                background: variables.$color-white;
    
    
                .icon__close {
                    @include mixins.resolution(19px, 19px);
    
                    svg {
                        @include mixins.resolution(19px, 19px);
                    }
                }

                @media (max-width: 880px) {
                    display: none;
                }
            }

            .modal__body {
                gap: 30px;
                height: 100%;
                padding: 40px;
                display: grid;
                overflow: auto;
                max-height: 100vh;
                grid-template-rows: auto 1fr auto;
                @include mixins.scrollBar();
            }

            .modal__section {
                .table-container {
                    height: 100%;
                    max-width: 76vw;

                    @media (max-width: 1250px) {
                        max-width: 70vw;
                    }

                    @media (max-width: 880px) {
                        max-width: 90vw;
                    }

                    @media (max-width: 800px) {
                        max-width: 87vw;
                    }
                }
            }

            h2 {
                font-size: 30px;
            }

            @media (max-width: 880px) {
                width: 100%;
            }
        }

        .modal__fields {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .modal_header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 720px) {
                gap: 20px;
                align-items: start;
                flex-direction: column;
            }
        }

        .modal__header {
            .icon__arrow {
                @media (max-width: 880px) {
                    display: flex;
                }
            }
        }

        .modal__buttons {
            gap: 20px;
            justify-content: start;

            @media (max-width: 400px) {
                align-items: start;
                flex-direction: column;
            }
        }

        @keyframes showModal {
            0% {
                margin-right: calc(-80vw - 160px);
            }
            100% {
                margin-right: 0px;
            }
        }
    }
}
