@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.analytics__grid {
    gap: 20px;
    display: grid;
    margin-top: 25px;
    grid-template-columns: repeat(3, 1fr);

    .chart {
        cursor: pointer;
    }

    @media (max-width: 1400px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 660px) {
        grid-template-columns: repeat(1, 1fr);
    }
}


.analytics__chart {
    position: relative;

    .icon_drag-field {
        position: absolute;
        left: 6px;
        top: 12px;
        cursor: grab;
        opacity: 0;
    }

    &:hover {
        .icon_drag-field {
            opacity: 1;
        }
    }
}