@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.column-fields {
    grid-gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1.4fr;

    &.column-fields_dragging {
        .tile-section {
            .tile-section__body,
            .tile-section__footer {
                display: none;
            }
        }
    }

    &.column-fields_dragging-field {
        @include mixins.userSelect(none);

        .tile-section {
            &.tile-section_short {
                .tile-section__body {
                    display: flex;
                }
            }
        }
    }

    @media (max-width: 1300px) {
        grid-template-columns: 1fr;

        .detail__actions {
            grid-column: 1/2;
        }

        .history {
            max-width: none;
        }
    }
}

.column-fields__column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    z-index: 1;

    &:first-child {
        z-index: 2;
    }

    &:last-child {
        .popup {
            .popup__content {
                right: 0px;
            }
        }
    }

    & > *:not(.tile-section) {
        order: 1;
    }
}

.column-fields__button {
    &.button_text {
        color: variables.$color-icon;
        text-decoration: none;

        &:hover {
            color: variables.$color-icon-active;
        }
    }
}